In [95]:
import pandas as pd
import numpy as np
import io
import re
import base64
from urllib.parse import quote as urlquote

def dms_to_decimal(dms):
    match = re.search(r"(\d+)°(\d+)'([\d\.]+)\"([NSEW])", dms)
    if match:
        degrees, minutes, seconds, direction = match.groups()
        decimal = float(degrees) + float(minutes) / 60 + float(seconds) / 3600
        if direction in ['S', 'W']:
            decimal = -decimal
        return decimal
    else:
        return None


def prepare_df(path):
    columnas = ["Fecha", "Hora","Latitud","Longitud"]
    path = f'{path}'
    if "csv" in path:
        sabana = pd.read_csv(path)
    elif "xlsx" in path:
        sabana = pd.read_excel(path)
    else:
        return None
    
    for idx, column_name in enumerate(sabana):
        column = column_name.lower()
        print(idx,column)
        
        if "fecha de la comunicación" == column:
            sabana['Fecha'] = sabana[column_name]
        if "fecha" == column:
            sabana['Fecha'] = sabana[column_name]
        if "hora de la comunicación" == column:
            sabana['Hora'] = sabana[column_name]
        if "hora" == column:
            sabana['Hora'] = sabana[column_name]
        if "latitud" == column:
            sabana['Latitud'] = sabana[column_name]
        if "longitud" == column:
            sabana['Longitud'] = sabana[column_name]
        if "ubicacion geografica (latitud / longitud)" == column:
            sabana['Latitud'] = sabana.iloc[:,idx]
            sabana['Longitud'] = sabana.iloc[:,idx+1]
            #sabana['Latitud'] = sabana['Latitud'].apply(dms_to_decimal)
            #sabana['Longitud'] = sabana['Longitud'].apply(dms_to_decimal)
    return sabana[columnas]

#df = prepare_df("5585996167.csv")
#df = prepare_df("9844706032.csv")
#df = prepare_df("Copia de 9844706032.xlsx")
#df = prepare_df("9981656564.csv")
#df = prepare_df("9988741541.csv")
df = prepare_df("9988744863.csv")
df

0 telefono
1 tipo
2 numero a
3 numero b
4 fecha
5 hora
6 durac. seg.
7 imei
8 ubicacion geografica (latitud / longitud)
9 unnamed: 9
10 azimuth

            Fecha      Hora    Latitud    Longitud
0      25/01/2023  05:33:37   21�2'2"N  86�51'39"W
1      25/01/2023  05:33:37   21�2'2"N  86�51'39"W
2      25/01/2023  05:56:28  21�3'27"N  86�50'49"W
3      25/01/2023  06:21:21  21�9'12"N  86�49'31"W
4      25/01/2023  07:18:22   21�2'2"N  86�51'39"W
...           ...       ...        ...         ...
10211  25/04/2023  12:44:04         -           -
10212  25/04/2023  12:44:05         -           -
10213  25/04/2023  12:44:05         -           -
10214  25/04/2023  12:50:09         -           -
10215  25/04/2023  12:50:57         -           -

[10216 rows x 4 columns]